<div class="card my-0 shadow-sm" style="max-width: auto;" id="testcase-info-panel">
    <div class="card-body bg-light">
        <h5 class="card-title">
            Test case: <span id="testcase-name">{{ testcase.name }}</span>
        </h5>

        <div class="d-flex flex-wrap gap-2 mb-3 mt-2">
            <button class="btn btn-outline-danger btn-sm" id="btn-delete-suite">
                <i class="bi bi-trash"></i> Delete
            </button>

            <button class="btn btn-outline-secondary btn-sm" id="btn-edit-suite">
                <i class="bi bi-pencil-square"></i> Edit
            </button>

            <button class="btn btn-outline-primary btn-sm" id="btn-new-version">
                <i class="bi bi-file-earmark-plus"></i> New Version
            </button>

            <div class="dropdown">
                <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="versionDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-clock-history"></i> Version {{ testcase.current_version }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="versionDropdown" id="version-list">
                    {% for version in testcase.versions %}
                    <li class="dropdown-item version-option" data-version-id="{{ version }}">
                        Version {{ version }}

                    </li>
                    {% endfor %}
                </ul>
            </div>

            <button class="btn btn-outline-danger btn-sm" id="btn-delete-version">
                <i class="bi bi-x-circle"></i> Delete this version
            </button>
        </div>

        <div class="form-group mb-3">
            <label class="font-weight-bold">Description:</label>
            <div class="border p-3 rounded bg-white" id="testcase-description">
                {{ testcase.description }}
            </div>
        </div>
        <div class="form-group mb-3">
            <label class="font-weight-bold">Precondition:</label>
            <div class="border p-3 rounded bg-white" id="testcase-precondition">
                {{ testcase.preconditions }}
            </div>
        </div>
        <div class="form-group mb-3">
            <label class="font-weight-bold">Expected results:</label>
            <div class="border p-3 rounded bg-white" id="testcase-expected-results">
                {{ testcase.expected_result }}
            </div>
        </div>

        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#meta-info">
            More Info
        </button>

        <div class="collapse mt-3 " id="meta-info">
            <ul class="list-group list-group-flush small">
                <li class="list-group-item">
                    <strong>Created by:</strong> <span id="testcase-owner">{{ testcase.created_by }}</span>
                </li>
                <li class="list-group-item">
                    <strong>Last updated by:</strong> <span id="testcase-updater">{{ testcase.last_updated_by
                        }}</span>
                </li>
                <li class="list-group-item">
                    <strong>Last updated in:</strong> <span id="testcase-updated">{{ testcase.updated_at }}</span>
                </li>
            </ul>
        </div>
    </div>

    <div id="test-list-pane"></div>
</div>