<div class="card my-3 shadow-sm" style="max-width: auto;" id="suite-info-panel">
    <div class="card-body bg-light">
        <h5 class="card-title">
            Test suite: <span id="suite-name">{{ suite.name }}</span>
        </h5>

        <div class="form-group mb-3">
            <label class="font-weight-bold">Description:</label>
            <div class="border p-3 rounded bg-white" id="suite-description">
                {{ suite.description }}
            </div>
        </div>


        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#meta-info">
            More Info
        </button>

        <div class="collapse mt-3 " id="meta-info">
            <ul class="list-group list-group-flush small">
                <li class="list-group-item">
                    <strong>Created by:</strong> <span id="suite-owner">{{ suite.created_by }}</span>
                </li>
                <li class="list-group-item">
                    <strong>Last updated by:</strong> <span id="suite-updater">...for future...</span>
                </li>
                <li class="list-group-item">
                    <strong>Last updated in:</strong> <span id="suite-updated">{{ suite.updated_at }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>