[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-swagger-ui = "*"
pytest = "*"
ruff = "*"
exceptiongroup = "*"
flask-login = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.13"
