[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-swagger-ui = "*"
flask-login = "*"
sqlalchemy = "*"
flask-bcrypt = "*"
pymysql = "*"
bcrypt = "*"
blinker = "*"
cachetools = "*"
click = "*"
colorama = "*"
dotenv = "*"
Flask-Mail = "*"
Flask-WTF = "*"
gunicorn = "*"
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
mysql-connector = "*"
pydantic = "*"
python-dotenv = "*"
Werkzeug = "*"
WTForms = "*"
annotated-types = "*"
greenlet = "*"
pydantic_core = "*"
typing-inspection = "*"
typing_extensions = "*" 

[dev-packages]
pytest = "*"
ruff = "*"
exceptiongroup = "*"
iniconfig = "*"
pluggy = "*"
Pygments = "*"

[requires]
python_version = "3.13"