.Mydiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body,
html {
    margin: 5;
    height: 99%;
    overflow: hidden;
}

footer.attribution {
    text-align: end;
    font-size: 10px;
    color: #888;
    margin-top: 20px;
    padding: 10px 0;
}

footer.attribution a {
    color: #888;
    text-decoration: none;
}

footer.attribution a:hover {
    text-decoration: underline;
}

.navbar-nav .nav-link {
    color: rgb(244, 242, 252);
}