.container-tree {
    display: flex;
    height: 100vh;
}

.left-pane {
    width: 300px;
    min-width: 150px;
    background-color: #f1f1f1;
    overflow: auto;
    padding: 10px;
    border-width: 1;
}



.filter-pane {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    /* visual separation */
    background-color: #eaeaea;
}

.tree-pane {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}




.divider {
    width: 5px;
    background-color: #aaa;
    cursor: col-resize;
}

.right-pane {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 10px;
    overflow: auto;
}


/* Base class for suite (fallback/default) */
.custom-suite-icon {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Test case icon */
.custom-test-icon {
    background-image: url("/static/icons/custom-test-icon.png") !important;
    background-size: 16px 16px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}


.jstree-node>.jstree-anchor>.custom-suite-icon {
    background-image: url("/static/icons/custom-suite-empty.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Closed folder icon */
.jstree-closed>.jstree-anchor>.custom-suite-icon {
    background-image: url("/static/icons/custom-suite-closed.png");

}

/* Open folder icon */
.jstree-open>.jstree-anchor>.custom-suite-icon {
    background-image: url("/static/icons/custom-suite-opened.png");
}