body,
html {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

/* Custom styles for the resizable divider */
#divider {
    width: 10px;
    cursor: col-resize;
    background-color: #f1f1f1;
    opacity: 0;
}

/* New container for the left side */
#left-column {
    width: 350px;
    /* Initial width */
    min-width: 200px;
    max-width: 800px;
}

#page-title {
    font-size: 30px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow: hidden;
}

#page-title.header-hidden {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-width: 0;
}

.tree-pane {
    flex-grow: 1;
    overflow-y: auto;
}

#left-pane,
#right-pane {
    overflow-y: auto;
    padding: 1rem;
}

#left-pane {
    margin-top: 16px;
    border-style: groove;
    border-width: 1px;
    border-color: #e6e5e5;
    border-radius: 5px;
    margin-bottom: 95px;
}

#left-pane.hidden {
    margin-top: 0px;
}

#right-pane {
    flex-grow: 1;
    margin-bottom: 75px;
}

#right-pane.hidden {
    margin-top: 1px;
}

.custom-suite-icon {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.custom-test-icon {
    background-image: url("/static/icons/custom-test-icon.png") !important;
    background-size: 20px 15px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.jstree-node>.jstree-anchor>.custom-suite-icon {
    background-image: url("/static/icons/custom-suite-empty.png");
}

.jstree-closed>.jstree-anchor>.custom-suite-icon {
    background-image: url("/static/icons/custom-suite-closed.png");
}

.jstree-open>.jstree-anchor>.custom-suite-icon {
    background-image: url("/static/icons/custom-suite-opened.png");
}


/* Override jsTree context menu with Bootstrap style */
.vakata-context {
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 0.5rem rgba(41, 41, 41, 0.1);
    padding: 0;
    font-size: 0.9rem;
    z-index: 9999 !important;
}

.vakata-context li>a {
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
}

.vakata-context li>a:hover {
    background-color: #f8f9fa;
    color: #0d6efd;
}

.vakata-context .vakata-separator {
    height: 1px;
    background-color: #dee2e6;
    margin: 0.25rem 0;
}


#step-context-menu {
    position: fixed;
    display: none;
    z-index: 1050;
}

#step-context-menu.show {
    display: block;
}