{% extends 'base.jinja2' %}

{% block content %}



<div class="mt-4 container">
    <div class="card shadow">
        <div class="card-header">
            <h1>Add New Project</h1>
        </div>
        <div class="card-body">
            <form id="add-user-form" method="POST">
                <div class="mb-3">
                    <label for="project_name" class="form-label">Project Name</label>
                    <input id="project_name" name="project_name" placeholder="Enter Project Name" class="form-control">
                    <span id="project-name-error" class="text-danger" style="display:none;"></span>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <label for="start_date" class="form-label">Start Date</label>
                        <input type="date" id="start_date" name="start_date" class="form-control" required>
                    </div>
                    <div class="col">
                        <label for="end_date" class="form-label">End Date</label>
                        <input type="date" id="end_date" name="end_date" class="form-control" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" name="description" class="form-control" rows="5"
                        placeholder="Enter project description..."></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Add Project</button>
            </form>
        </div>
    </div>
</div>

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<p class="text-danger">{{ message }}</p>
{% endfor %}
{% endwith %}

<script src="{{ url_for('static', filename='Scripts/main_page.js') }}"></script>

{% endblock %}