<!DOCTYPE html>
<html>

<head></head>

<body>
    <!-- Container to hold top bar elements -->
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/base.css') }}">
    <div class="Mydiv">
        <div>
            {%if user.is_authenticated%}
            <nav>
                <a href="{{url_for('auth.MainPage')}}">Home</a>
                <a href="{{url_for('auth.logout')}}">Logout</a>
                <a href="{{url_for('users_views.UsersManagement')}}">Users Management</a>

                {% if user.user_level == 'admin' %}
                <a href="{{url_for('projects_views.ProjectManagement')}}">Projects Management</a>
                {%endif%}

                {% if user.user_level == 'admin' or user.user_level == 'editor' %}
                <a href="{{url_for('TestSpecification_views.TestSpecification')}}">Test Specification</a>
                {%endif%}

            </nav>
            {%endif%}
        </div>

        <div>
            <select name="project" id="project-selector-form">
                {% for project in projects %}
                <option value="{{project['id']}}" {%if project['id']==current_project_id %} selected {% endif%}>
                    {{ project['name'] }}
                </option>
                {% endfor %}
            </select>

            <p id="feedback" style="color: green;"></p>
        </div>
    </div>
</body>

<hr>


{% block content %}


{% endblock %}

<script src="{{ url_for('static', filename='Scripts/project_selector.js') }}"></script>
</body>


</html>