{% extends 'base.jinja2' %}

{% block content %}




<h1>Welcome, {{ username }}!</h1>
<p>You are authenticated.</p>


<script src="{{ url_for('static', filename='Scripts/main_page.js') }}"></script>
{% endblock %}