{% extends 'base.jinja2' %}

{% block content %}


<h1>Project management system</h1>

{% if current_user.user_level == 'admin' %}
<button onclick="location.href='/AddProject'">
    New project
</button>
{%endif%}

<h2>Projects:</h2>

<table border="0" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Owner</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Created At</th>
            <th>Updated At</th>
            {% if current_user.user_level == 'admin' %}
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td>{{ project['id'] }}</td>
            <td><a href="{{url_for('projects_views.OpenProject', project_id=project['id'])}}"> {{ project['name'] }}
                </a> </td>
            <td>{{ project['status'] }}</td>
            <td>{{ project['owner_name'] }}</td>
            <td>{{ project['start_date'] }}</td>
            <td>{{ project['end_date'] }}</td>
            <td>{{ project['created_at'] }}</td>
            <td>{{ project['updated_at'] }}</td>
            {% if current_user.user_level == 'admin' %}
            <td>

                <form method="POST" style="display:inline;"
                    onsubmit="return confirmDeletion('Are you sure that you want to delete {{project['name']}}? This action will delete all tests related to '{{project['name']}}' ');">
                    <input type="hidden" name="action" value="deletion">
                    <input type="hidden" name="id" value="{{ project['id'] }}">
                    <input type="submit" value="Delete">

                </form>

            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

</ul>

<script src="{{ url_for('static', filename='Scripts/projects_management.js') }}"></script>

{% if error_message %}
<script>
    alert("{{ error_message }}");
</script>
{% endif %}

<!-- style-->
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/project_management.css') }}">



{% endblock %}