{% extends 'base.jinja2' %}

{% block content %}
<a href="{{url_for('auth.MainPage')}}"> Home </a>
<div></div>
<a href="{{url_for('users_views.UsersManagement')}}">Users Manegement</a>
<div></div>

<h1>Reset {{username}}'s password</h1>

<form id="reset-password-form" method="POST">
    <input type="hidden" name="action" value="reseter">
    <input id="newPassword" name="newPassword" placeholder="New password" type="password">
    <span id="newPassword-error" style="color:red; display:none;"></span><br>
    <input type="submit" value="Reset">
</form>

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endwith %}

<script src="{{ url_for('static', filename='Scripts/reset_password.js') }}"></script>


{% endblock %}