{% extends 'base.jinja2' %}

{% block content %}

<!-- Container to hold top bar elements -->
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/test_specification.css') }}">




<h1>Test Specification</h1>


<script src="{{ url_for('static', filename='Scripts/project_selector.js') }}"></script>

{% endblock %}