{% extends 'base.jinja2' %}

{% block content %}

<h1>Access Denied (403)</h1>
<p>Sorry, {{ current_user.username }}, you do not have permission to access this page.</p>
<a href="{{ url_for('MainPage') }}">Go back to homepage</a>

{% endblock %}