{% extends 'base.jinja2' %}

{% block content %}

<!-- Container to hold top bar elements -->
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/main_page.css') }}">

<div class="Mydiv">

    <!-- Left links -->
    <div>
        <ul style="list-style-type:none; padding: 0; margin: 0;">
            <li><a href="{{url_for('MainPage')}}">Home</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
            <li><a href="{{url_for('UsersManagement')}}">Users Management</a></li>
            <li>
                {% if current_user.user_level == 'admin' %}
                <a href="{{url_for('ProjectManagement')}}">Projects Management</a>
                {%endif%}
            </li>
        </ul>

    </div>



    <!-- Right dropdown -->
    <div>
        <select name="project">
            {% for project in projects %}
            <option value="{{project['id']}}">{{ project['name'] }}</option>
            {% endfor %}
        </select>
    </div>

</div>

<hr>

<h1>Welcome, {{ username }}!</h1>
<p>You are authenticated.</p>

{% endblock %}