{% extends 'base.jinja2' %}

{% block content %}

<!-- Container to hold top bar elements -->
<style>
    .Mydiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
<div class="Mydiv">

    <!-- Left links -->
    <div>
        <a href="{{url_for('MainPage')}}">Home</a>
        <div></div>
        <a href="{{url_for('logout')}}">Logout</a>
        <div></div>
        <a href="{{url_for('UsersManagement')}}">Users Management</a>
        <div></div>
        {% if current_user.user_level == 'admin' %}
        <a href="{{url_for('ProjectManagement')}}">Projects Management</a>
        {%endif%}
    </div>

    <!-- Right dropdown -->
    <div>
        <select name="project">
            {% for project in projects %}
            <option value="{{project['id']}}">{{ project['name'] }}</option>
            {% endfor %}
        </select>
    </div>

</div>

<hr>

<h1>Welcome, {{ username }}!</h1>
<p>You are authenticated.</p>

{% endblock %}