{% extends 'base.jinja2' %}

{% block content %}

<div>
    <a href="{{url_for('MainPage')}}">Home</a>
    <div></div>
    <a href="{{url_for('ProjectManagement')}}">Projects Management</a>
</div>

<h1>Project Information</h1>

<ul>
    <li>Name: {{project['name']}}</li>
    <li>Id: {{project['id']}}</li>
    <li>Status: {{project['status']}}</li>
    <li>Created by: {{project['owner_name']}}</li>
    <li>Start Date: {{project['start_date']}}</li>
    <li>End Date: {{project['end_date']}}</li>
    <li>Created at: {{project['created_at']}}</li>
    <li>Last updated at: {{project['updated_at']}}</li>
    <li>Description: {{project['description']}}</li>
</ul>

<form method="GET" style="display: inline" action="{{url_for('EditProject', project_id=project['id'])}}">
    <input type="hidden" name="action" value="editing">
    <input type="hidden" name="id" value="{{project['id']}}">
    <input type="submit" value="Edit project">
</form>

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endwith %}

<script></script>

<link rel="stylesheet" href="{{ url_for('static', filename='Styles/open_project.css') }}">

{% endblock %}