{% extends 'base.jinja2' %}

{% block content %}
<a href="{{url_for('MainPage')}}"> Home </a>
<div></div>
<a href="{{url_for('UsersManagement')}}">Users Manegement</a>
<div></div>

<h1>Reset {{username}}'s password</h1>

<form id="reset-password-form" method="POST">
    <input type="hidden" name="action" value="reseter">
    <input id="newPassword" name="newPassword" placeholder="New password" type="password">
    <span id="newPassword-error" style="color:red; display:none;"></span><br>
    <input type="submit" value="Reset">
</form>

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endwith %}

<script>
    document.getElementById('reset-password-form').addEventListener('submit', function (e) {
        let isValid = true;

        const password = document.getElementById('newPassword').value;
        const errorSpan = document.getElementById('newPassword-error');

        //erases previous errors
        errorSpan.textContent = '';
        errorSpan.style.display = 'none';

        //check if the password has at least 6 digits
        if (password.length < 6) {
            errorSpan.textContent = "Password must have at least 6 characters"
            errorSpan.style.display = 'inline'
            isValid = false;
        }


        if (!isValid) {
            e.preventDefault(); //prevents form submission
        }
    });
</script>

{% endblock %}