{% extends 'base.jinja2' %}

{% block content %}
<a href="{{url_for('MainPage')}}"> Home </a>


<h1>User management system</h1>

<button onclick="location.href='/AddUserFromManager'">
    New user
</button>

<h2>Users: </h2>
<ul>
    {% for user in users %}
    <li>id[{{user['id']}}]: {{user['username']}}, email: {{user['email']}}
        <form method="POST" style="display: inline">
            <input type="hidden" name="action" value="deletion">
            <input type="hidden" name="id" value="{{user['id']}}">
            <input type="submit" value="delete">
        </form>
        <form method="GET" style="display: inline" action="{{url_for('ResetUserPassword', username=user['username'])}}">
            <input type="hidden" name="action" value="reseting">
            <input type="hidden" name="id" value="{{user['id']}}">
            <input type="submit" value="reset password">
        </form>
    </li>
    {% endfor %}

</ul>



{% endblock %}