{% extends 'base.jinja2' %}

{% block content %}
<a href="{{url_for('MainPage')}}"> Home </a>


<h1>User management system</h1>

<button onclick="location.href='/AddUserFromManager'">
    New user
</button>

<h2>Users: </h2>
<ul>
    {% for user in users %}
    <li>id[{{user['id']}}]: {{user['username']}}, email: {{user['email']}}
        {% if current_user.user_level == 'admin' %}
        <form method="POST" style="display: inline">
            <input type="hidden" name="action" value="deletion">
            <input type="hidden" name="id" value="{{user['id']}}">
            <input type="submit" value="delete">
        </form>

        <form method="GET" style="display: inline" action="{{url_for('ResetUserPassword', username=user['username'])}}">
            <input type="hidden" name="action" value="reseting">
            <input type="hidden" name="id" value="{{user['id']}}">
            <input type="submit" value="reset password">
        </form>


        <form method="POST" style="display:inline;">
            <input type="hidden" name="id" value="{{ user['id'] }}">
            <input type="hidden" name="action" value="change_level">

            <select name="new_level">
                <option value="viewer" {% if user['user_level']=='viewer' %}selected {% endif %}>Viewer</option>
                <option value="admin" {% if user['user_level']=='admin' %}selected {% endif %}>Admin </option>
                <option value="editor" {% if user['user_level']=='editor' %}selected {% endif %}>Editor</option>
            </select>

            <input type="submit" value="Change level">
        </form>

        {%endif%}
    </li>
    {% endfor %}

</ul>

{% if error_message %}
<script>
    alert("{{ error_message }}");
</script>
{% endif %}

{% endblock %}