.HeaderDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(163, 56, 56);
}

.RestDiv {
    display: flex;
    align-items: left;
    background-color: rgb(233, 231, 231);
}