name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Lint with ruff
      run: |
        pip install ruff
        ruff check . --fix

    - name: Run ruff and fix issues
      run: ruff check . --fix
      continue-on-error: true      

    - name: Commit changes
      if: always()                
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add .
        git diff --
    - name: Test with pytest
      run: |
        pip install pytest
        pytest
