name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.13"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    # 2. Install Pipenv and project dependencies
    - name: Install Pipenv and dependencies
      run: |
        # Install Pipenv globally on the runner
        python -m pip install --upgrade pip
        pip install pipenv
        
        # Install dependencies from Pipfile.lock (including dev packages)
        pipenv lock --clear
        pipenv install --dev --python ${{ matrix.python-version }} --ignore-pipfile

        
    # pipenv install --dev --ignore-pipfile

    - name: Lint with ruff
      run: |
        pipenv run ruff check . --fix

    - name: Run ruff and fix issues
      run: ruff check . --fix
      continue-on-error: true      

    - name: Commit changes
      if: always()                
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add .
        git diff --
    - name: Test with pytest
      env:
          # Application Secrets
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          
          # Database Secrets
          DATABASE_HOST: ${{ secrets.DATABASE_HOST }}
          DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
          DATABASE_USER: ${{ secrets.DATABASE_USER }}
          DATABASE_PORT: ${{ secrets.DATABASE_PORT }}
          DATABASE_KEY: ${{ secrets.DATABASE_KEY }}
          DATABASE_NAME: ${{ secrets.DATABASE_NAME }}
      run: |

        export SECRET_KEY=${{ secrets.SECRET_KEY }}
        export DATABASE_HOST=${{ secrets.DATABASE_HOST }}
        export DATABASE_PASSWORD=${{ secrets.DATABASE_PASSWORD }}
        export DATABASE_USER=${{ secrets.DATABASE_USER }}
        export DATABASE_PORT=${{ secrets.DATABASE_PORT }}
        export DATABASE_KEY=${{ secrets.DATABASE_KEY }}
        export DATABASE_NAME=${{ secrets.DATABASE_NAME }}

        pipenv run pytest
